@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Site Has Moved</h1>
    <p>MAS Issue Tracker Has Moved to <a href="https://masissuetracker.azurewebsites.net/">masissuetracker.azurewebsites.net</a>.</p>
</div>
